.navbar {
    background: #009879;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 24px;
    max-width: 100%;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    margin-right: -22px;
}

.nav-item {
    height: 80px;
}

.nav-links {
    color: #f9f5f5;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.nav-links:hover {
    color: #226625;
    border-radius: 4px;
}

.logout-button {
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 10px;
}

.logout-button i {
    margin-right: 0.5rem;
}

.logout-button:hover {
    color: #cacaca; /* Light grey color on hover */
}
