.footer {
    background: #009879;
    color: white;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    font-size: 0.9rem;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
}

.footer-about,
.footer-links,
.footer-contact {
    display: flex;
    flex-direction: column;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li,
.footer-links a {
    color: white;
    text-decoration: none;
    padding: 5px 0;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #cce7e0;
}

.footer h3 {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-about,
    .footer-links,
    .footer-contact {
        margin-bottom: 20px;
    }
}
