.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
    padding: 20px;
    margin: auto;
    max-width: 1200px;
}

.image-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.image-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.image-item.selected {
    transform: scale(1.1);
    box-shadow: 0 5px 30px rgba(182, 16, 16, 0.4);
    border: 3px solid #b12426;
    background-color: rgba(255, 87, 34, 0.2);
}

.image-item img {
    width: 100%;
    height: auto;
    transition: opacity 0.3s;
    opacity: 1;
}

.image-item.selected img {
    opacity: 0.8;
}

.image-item p {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 0;
    margin: 0;
}

@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.survey-container-fill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 40px;
}

.input-field {
    flex: 1;
    margin: 0 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-form input {
    margin: 0 20px;
    padding: 8px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-form button {
    width: 200px;
    height: 50px;
    font-size: large;
    padding: 10px 20px;
    background-color: #009879;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 50px;
    margin-bottom: 50px;
}

.submit-button:not(:disabled):hover {
    background-color: #45a049;
}

.submit-button:disabled {
    background-color: #ccc;
}
